.join{
  display: flex;
  gap: 5rem;
  padding: 0 35px;
  align-items: center;
}

.j-left{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex: 1;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.j-right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr{
  width: 9.5rem;
  border: 2px solid var(--orange);
  border-radius: 20%;
  margin: -10px 0;  
}

.email{
display: flex;
gap: 2rem;
background-color: gray;
padding: 10px 20px;
align-items: center;
justify-content: center;
}

.email input{
  background-color: transparent;
  color: var(--lightgray);
  border: none;
  outline: none;
}

::placeholder{
  color: var(--lightgray);
}

.btn-email{
  color: white;
  background-color: var(--orange);
}


@media screen and (max-width:738px) {
  .join{
    flex-direction: column;
  }
  .j-left div{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
  }

  .j-left div span{
    font-size: xx-large;
    text-align: center;
  }
}